@import 'src/styles/shared.scss';

.cofi-page-repurchase {
  &-summary {
    max-width: calc(100% - #{$space-md * 2});
    margin: auto;

    @include tablet {
      max-width: $content-width;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        margin: -$space;
      }

      li + li {
        margin-top: $space;
      }
      li {
        @include tablet {
          flex: 1 0 calc(50% - #{$space * 2});
          width: calc(50% - #{$space * 2});
          margin: $space;
        }

        &:hover {
          box-shadow: $shadow-lg;
        }
      }
    }
  }
}

.cofi-repurchase-card {
  background: #ffffff;
  box-shadow: $shadow-sm;
  border: 1px solid $light-gray-color;
  border-radius: $border-radius;

  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: $space;
  @include tablet {
    padding: $space * 2 $space;
  }

  position: relative;

  &-title {
    font-size: $font-size-sm;
    color: $dim-color;
  }

  &-value {
    background: $text-gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'American Typewriter';
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: $font-size-md * 2;
    margin-top: $space;
  }

  &-icon {
    position: absolute;
    right: $space;
    top: 50%;
    transform: translateY(-50%);
  }
}
